extends layout

block content
    h1= title
    ul
        each movie in movies
            li
                h3= movie.title
                p Жанр: #{movie.genre}
                p Тривалість: #{movie.duration_minutes} хв
                p= movie.description
