doctype html
html(lang="uk")
    head
        title= member.name
    body
        img(src=member.img, alt=member.name, width="200")
        h1= member.name
        p= member.description
        a(href="/static.html") Назад до команди
