.modal#ticketModal
    .container-ticket
        h1.ticket-film-name.title
        p.ticket-order Ticket order

        .name-enter
            label Enter Your Name:
            input.name(type="text" name="name" alt="name", placeholder="Tony Stark")

        .name-enter
            label Email:
            input.email(type="text" name="email" alt="email", placeholder="BeerAmbassador@gmail.com")

        .pay-type
            label(for="payment-method") Select Payment Method:
            select#payment-method(name="method")
                option(value="Google Pay") Google Pay
                option(value="Apple Pay") Apple Pay
                option(value="IBAN") IBAN

        .amount-enter
            label(for="payment-amount") Payment Amount ($):
            input#payment-amount(
                type="number"
                name="amount"
                min="5"
                step="0.1"
                placeholder="5"
                required
                onkeydown="return false"
            oninput="this.value = this.value.replace(/[^0-9.]/g, '')"
            )

        ul
            li.ticket-key Seat number:
            li.ticket-value#seat

        button.ticket-confirm Confirm

#overlay